body {
	background-image: linear-gradient(to top left, rgba(250, 249, 237,0), rgba(250, 249, 237,.75));
}

h1 {
	text-align: center;
	font-size: 60;
	font-family: "Patrick Hand";	
	color: #555B6E;
	padding-top: 30px;
}

nav {
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	font-size: .9em;
	font-family: "Patrick Hand";
	padding: 14px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 1em;
	max-width: 100%;
}

nav a {
	text-decoration: none;
	color: #555B6E;
}
/* Pending hover
nav a:hover {
	background-color: #777;
}
*/
#topBar {
	background-color: white;
	background-image: linear-gradient(to bottom right, rgba(250, 249, 237,0), rgba(250, 249, 237,.75));
}

#navMenu, #navOrderHere, #navLogo, #navFanGallery, #navFaq {
	background-color: #FAF9F9;
	font-weight: bold;
	font-size: 1.4em;
}

/*
@media screen and (max-width: 600px) {
	#headImg {
    	visibility: hidden;
 }
	#headImgMobile {
		position: relative;
		display: block;
		width: 100%;
		max-width: 100%;
		height: 55vh;
		margin:0 auto;
		overflow: hidden;
		margin-bottom: -25em;
		margin-top: -30em;
}

	#headImgMobile img {
		position:absolute;
		left:0;
		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		transition: opacity 1s ease-in-out;
}

	#headImgMobile img.fadeImgMobile:hover {
		opacity:0;
}
}

@media screen and (min-width: 600px) {
	#headImgMobile {
		visibility: hidden;
		margin-bottom: -6em;
 }
	#headImg {
		position: relative;
		display: block;
		width: 100%;
		max-width: 100%;
		height: 55vh;
		margin:0 auto;
		overflow: hidden;
}

	#headImg img {
		position:absolute;
		left:0;
		-webkit-transition: opacity 1s ease-in-out;
		-moz-transition: opacity 1s ease-in-out;
		-o-transition: opacity 1s ease-in-out;
		transition: opacity 1s ease-in-out;
}

	#headImg img.fadeImg:hover {
	  opacity:0;
}
}
*/

/*Begin Quotes */
.fanQuotes {
	display:none;
	width:100%
	text-align: center;
	margin-left: 2em;
	margin-right: 2em;
}

.w3-content {
	margin-left:auto;
	margin-right:auto
}
.w3-content {
	max-width:980px
}

.w3-section {
	margin-top:85px!important;
	margin-bottom:80px!important
}
/*End Quotes */

.card{
	margin: auto;
}

.card-body, .card-text {
	text-align: center;

}

#topBarOrderForm {
	padding-bottom: 0px;
}

#limitedTimeOfferingsMenu, .pastMenus, #faqTitle, .faqBody, #orderHereTitle, #fanGalleryTitle {
	text-align: center;
	margin-top: 2em;
	color: #555B6E;
}

#limitedMenuImg {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	width: 25em;	
}

.menuItems, .pastMenuItems, .faqQuestions {
	font-size: 1.45em;
	margin-top: .75em;
}

.menuDescriptions, .pastMenuDescriptions, .faqAnswers {
	font-size: .95em;
	margin-bottom: 1.5em;
	margin-left: 2em;
	margin-right: 2em;
	color: #555B6E;
}

#menuItemList {
	text-align: center;
	list-style-type: circle;
	list-style-position: inside;
	font-size: .85em;
	margin-top: -20px;
}

.pastMenus {
	margin: 45px 0 0 0;
	padding: 11px 0 15px 0;
	border: none;
	text-align: center;
	outline: none;
	cursor: pointer;
	border: .5px solid #FFD6BA;
	background-color: #FFD6BA;  
}

.pastMenuTitles {
	margin-top: 1em;
}

.content {
	padding: 0 18px;
	display: none;
	overflow: hidden;
	text-align: center;
	margin-bottom: 50px;

}

.asterik {
	font-size: .75em;
}

.igLink {
	text-align: center; 
	font-size: 1.5em; 
	font-style: italic;
	display: block; 
	padding: 5px; 
  	border: 1px transparent #000000;
  	margin-left: 2em;
  	margin-right: 2em;
}

#faqTitle, #orderHereTitle, #fanGalleryTitle {
	padding: 25px;
	border: none;
	text-align: center;
	outline: none;
	background-color: #FFD6BA;  
}

.faqQuestions {
	margin-top: 1.5em;
	margin-bottom: 0.25em;
}
